<!DOCTYPE html>
<html>
    <head>
        <title>Customer Arrival</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/styles/style.css">
        <script src="../static/scripts/scripts.js"></script>
    </head>
    <body>
        <section>
            <a class="title" href="./index.html">Waitr</a>
        </section>

        <h1>Customer</h1>
    </body>
</html>