<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/styles/style.css">
        <script src="../static/scripts/scripts.js"></script>
    </head>
    <body>
        <div class="navbar">
            <a class="homebtn" href="./index.html">Waitr.</a>
            <a class="navbtn" href="./customer_signup.html">Sign-Up</a>
        </div>

        <div class="content">
            <p>Customer Login</p>
            <form method="POST" id="c_login">
                <input class="contentinput" placeholder="Username" type="text" name="uname"><br>
                <input class="contentinput" placeholder="Password" type="password" name="pass"><br>
                <button class="contentbtn" type="submit" id="c_login_submit">Log In</button>
            </form>
        </div>
    </body>
</html>