<!DOCTYPE html>
<html>
    <head>
        <title>Waitr</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/styles/style.css">
        <script src="../static/scripts/scripts.js"></script>
    </head>
    <body>
        <div class="navbar">
            <a class="homebtn" href="./index.html">Waitr.</a>
        </div>

        <div class="content">
            <p>Select Login Type:</p>
            <a class="contentbtn" href="./customer_login.html">Customer Login</a>
            <a class="contentbtn" href="./venue_login.html">Venue Login</a>
        </div>

    </body>
</html>