<!DOCTYPE html>
<html>
    <head>
        <title>Venue Search</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/styles/style.css">
        <script src="../static/scripts/scripts.js"></script>
    </head>
    <body>
        <section>
            <a href="./index.html">Waitr</a>
        </section>

        <h1>Search</h1>
        
        <a href="./customer_arrival.html">Customer Arrival</a>
        
        <div class="search-area">
            <form method="POST" id="search">
                <div> 
                    <input class="searchbar" name="search" type="text" placeholder="Search Venues">
                </div>
                
                <div>
                    <button class="searchbtn" type="submit" id="search_submit">Submit</button>
                </div>
            </form>
            <!-- <ul>
                {%for result in results%}
                <li>{{result[3]}}</li>
                {%endfor%}
            </ul> -->
        </div>
    </body>
</html>